.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    border: 1px solid;
}

body{
    background-color: rgb(55, 247, 247);
}

header{
    background-color: rgb(83, 83, 207);
    text-align: center;
    padding: 10px;
}

section header{    
    line-height: 1em;
    color: white;
}

nav {
    height: 100%;
}

section{
    height: 100%;
    width: 100%;
    line-height: 1.5;
    background: white;
    white-space: break-spaces;
}

footer{
    height: 70px;
    width: 100%;
    background-color: #666;
    color
}

footer nav{
    color: white;
    text-align: center;
}

p{
    font-size: 1.6em;
    line-height: 1.5;
    font-style: oblique;
    font-family: monospace;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 6%;
}

h1 {
    font-size: 3em;
    font-family: monospace;
}

section img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: grey 5px;
    border-style: dashed;
}
